
body{
  background-color: #474649 ;
}
.logoEcuador{
  position: relative;
  left: 175px;
  top: 20px;
}
.navigator{
  border: solid black;
  position: relative;
  top: 40px;
  width: 325px;
  background-color: #c7c8cb;
}
.topnav {
  position: relative;
  border: solid black;
  margin-left: 9px;
  width: 300px;
  background-color: #c4cfcc;
  padding: 2em 0em;
}
.topnav a {
  border: double black;
  display: block;
  margin-left: 10%;
  padding: 14px 0px;
  background-color:#8c938f;
  width: 80%;
}

.topnav a:hover {
  background-color: #505354;
}

/*
-------------------------------Seccion1----------------------------------------
*/
.section1{
  width: 75%;
  border: double black;
  margin-bottom: 15px;
  margin-right: 15px;
  background:-webkit-radial-gradient(center, circle, #ababb0, #ababac);
  height: 600px;
  position: relative;
  top: -560px;
  float: right;
  display:block;
}
.ch1{
  font-style: oblique;
  display: block;
  margin-left: 5%;
}
.aside1{
  display: block;
  margin-left: 5%;
}

.parafo1{
  display: block;
  margin-left: 5%;
}
.img1{
  margin-left: 5%;
  width: 200px;
  height: 200px;
}
.aside2{
  display: block;
  margin-left: 5%;
  margin-top: 3%;
}
/*
--------------------------------Seccion2-------------------------------------
*/
.section2{
  width: 75%;
  border: double black;
  margin-bottom: 15px;
  margin-right: 15px;
  background:-webkit-radial-gradient(center, circle, #ababb0, #ababac);
  height: 600px;
  position: relative;
  top: -560px;
  float: right;
  display:block;
}
.ch2{
  display: block;
  margin-left: 5%;
}
.aside2{
  display: block;
  margin-left: 5%;
}

.parafo2{
  display: block;
  margin-left: 5%;
}
.img2{
  margin-left: 5%;
  width: 300px;
  height: 300px;

}
.aside3{
  display: block;
  margin-left: 5%;
  margin-top: 3%;
}
/*
--------------------------------Seccion 3 // Tabla-----------------------------
*/
.section3{
  width: 75%;
  border: double black;
  margin-bottom: 15px;
  margin-right: 15px;
  background:-webkit-radial-gradient(center, circle, #ababb0, #ababac);
  height: 870px;
  position: relative;
  top: -550px;
  float: right;
  display:block;
}
.ch3{
  display: block;
  margin-left: 5%;
}
.article3{

}
table, th, td{
  margin: 2px;
  width: 100%;
  height: 80%;
  border: double black;

}

.youtube{
  width: 640px;
  height: 400px;
  position: relative;
  top: 100px;
  left: 100px;
  border: 0px;
}
.pvideo{
  display: block;
  margin-left: 5%;
}
.pvideo1{
  display: block;
  margin-left: 5%;

}
/*
---------------------Footer------------------------------------
*/
.section5{
  width: 100%;
  margin-bottom: 15px;
  background:-webkit-radial-gradient(center, circle, #ababb0, #ababac);
  height: 200px;
  position: relative;
  top: -550px;
  float: right;
  display:block;
}
.footer1{

  width: 100%;
  font-size: 12pt;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.imginst{
  border-radius: 50%;
  position: relative;
  top: -20px;
  left: 600px;
  width: 75px;
  height: 75px;
}
.imgtwitter{
  border-radius: 50%;
  position: relative;
  top: -8px;
  left: 650px;
  width: 100px;
  height: 100px;
}
.emailfoot{
  display: flex;
  align-items: center;
  justify-content: center;
}
.telf{
  display: flex;
  align-items: center;
  justify-content: center;
}
.autor{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyrigth{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
*/
.input1{
  margin-left: 28px;
  width: 379px;
}
.input2{
  margin-left: 44px;
  width: 379px;
}
.boton{
  margin-left: 300px;
  width: 100px;
}
.sectionz{
  width: 50%;
  border: double black;
  margin-bottom: 15px;
  margin-right: 250px;
  background:-webkit-radial-gradient(center, circle, #ababb0, #ababac);
  height: 500px;
  position: relative;
  top: -510px;
  float: right;
  display:block;
}
